.swiper {
  width: auto;
  height: 300px;
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 85% !important;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--corDest) !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #7f62f4 !important;
}

@media (max-width: 800px) {
  .swiper {
    width: auto;
    height: 300px;
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
  }

  .depo-img {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 85% !important;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--corDest) !important;
  }

  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #7f62f4 !important;
  }
}
