header {
  padding: 0.5rem 80px;
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;

  color: var(--c3);
  padding-top: 2rem;
}

.header-left a,
.header-right a {
  /* background-color: tomato; */
  padding: 8px 16px;
  position: relative;
  display: inline-flex;
}

.header-left a::after,
.header-right a::after {
  content: "";
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
  height: 3px;

  background: linear-gradient(180deg, #7f62f4 0%, #7f44f4 100%);
  transition: 0.2s ease;
}

.header-left a:hover::after,
.header-right a:hover::after {
  animation: risco 0.5s ease forwards;
}

@keyframes risco {
  0% {
    width: 0;
    transform: translate(10px, 16px);
  }
  60% {
    width: 5%;
    transform: translate(10px, 16px);
  }
  100% {
    width: 85%;
    transform: translate(10px, 16px);
  }
}

.header-bloco {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .header-left a,
  .header-right a {
    display: none;
  }
  header {
    padding: 40px 80px;
  }
}
