.hero__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Saira", sans-serif;
  color: var(--c2);
  font-weight: 300;
  height: 100vh;
  align-items: center;
}

.hero__det {
  padding: 0.5rem 1rem;
  background-color: var(--c0);
  display: inline-block !important;
  font-family: "Mukta", sans-serif;
  font-size: 14px;
}

.hero__tit {
  margin-top: 1rem;
  font-size: 3.5rem;
  font-weight: 300;
  color: var(--c3);
}

.hero__tit span {
  font-weight: 500;
}

.hero__btn {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero__cta2 {
  margin-left: var(--gap3);
}

@media (max-width: 800px) {
  .hero__grid {
    grid-template-columns: 1fr;
    padding: 80px 20px !important;
    height: calc(100vh - 114px);
  }

  .hero__tit {
    font-size: 2.5rem;
  }

  .hero__btn {
    margin-bottom: var(--gap4);
    gap: var(--gap2);
  }

  .hero__btn a:last-child {
    margin-left: var(--gap0);
  }

  .hero__cta {
    display: inline-flex;
    width: 100%;
    text-transform: uppercase;
  }
  .hero__cta2 {
    display: inline-flex;
    margin-left: 0;
    width: 100%;
    text-transform: uppercase;
  }
}
