.port {
  padding: 80px 0;
}

.port-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  margin-top: 4rem;
}

.port-grid a:hover img {
  transform: scale(0.95);
}

.port-grid p {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 120%;

  color: var(--c2);
}

.port-grid img {
  max-height: 80vh;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.port-item2 {
  margin-bottom: 4rem;
}

.port-item3 img {
  max-height: 100%;
}

@media (max-width: 800px) {
  .port {
    padding: 80px 20px;
  }

  .port-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .port-item2 {
    margin-bottom: 0rem;
  }
}
