.proj-capa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 60px;
}

#projeto-base h2 {
  font-family: "Saira", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;

  background: linear-gradient(180deg, #7f62f4 0%, #7f44f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.proj-capa-infos {
  display: flex;
  justify-content: flex-end;
}
