* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #ebe7e1;
  --white: #faf8f5;
  --c0: #faf8f5;
  --c1: #b0b0b0;
  --c2: #707070;
  --c3: #404040;
  --corDest: #7f62f4;

  --gap0: 0px;
  --gap1: 8px;
  --gap2: 16px;
  --gap3: 24px;
  --gap4: 32px;
  --gap5: 48px;
  --gap6: 64px;
  --gap7: 80px;
  --gap8: 96px;
  --gap9: 128px;
}

body {
  background-color: var(--bg);
  width: 100%;
}

/* Cor de seleção do texto */

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
label::-moz-selection,
span::-moz-selection,
strong::-moz-selection,
br::-moz-selection,
p::-moz-selection {
  background-color: #7f62f4;
  color: #ebe7e1;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
label::selection,
span::selection,
strong::selection,
br::selection,
p::selection {
  background-color: #7f62f4;
  color: #ebe7e1;
}

/* Estilização da barra de scroll */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ebe7e1 #404040;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #404040;
}

*::-webkit-scrollbar-thumb {
  background: #ebe7e1;
  border-radius: 20px;
  border: 3px solid #404040;
}

h1,
h2,
h3,
h4,
p,
ul {
  font-weight: inherit;
  font-size: inherit;
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 100%;
  padding-inline-start: 0px;
}

h4 {
  font-weight: 700;
  font-size: 3.5rem;

  color: var(--c3);
  display: flex;
  justify-content: center;
}

h6 {
  font-family: "Saira", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  /* identical to box height, or 125% */

  color: #7f62f4;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  border: 2px solid red;
}

@media (max-width: 800px) {
  .container {
    max-width: 1220px;
    margin: 0 auto;
  }
}

/*utilitários*/
.btn__pri {
  padding: 10px 20px;
  gap: 8px;

  background: var(--c0);

  box-shadow: 0px 4px 20px -10px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  transition: 0.4s;
  text-align: center;
}

.btn__pri:hover {
  box-shadow: 0px 61px 106px rgba(0, 0, 0, 0.23),
    0px 18.3897px 31.9559px rgba(0, 0, 0, 0.149865),
    0px 2.76257px 4.80053px rgba(0, 0, 0, 0.0801346);
}

.btn__sec {
  padding: 10px 20px;

  border: 2px solid var(--c0);
  box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.5);
  background-color: var(--bg);
  transition: 0.4s;
  text-align: center;
}

.btn__sec:hover {
  box-shadow: 0px 61px 106px rgba(0, 0, 0, 0.23),
    0px 18.3897px 31.9559px rgba(0, 0, 0, 0.149865),
    0px 2.76257px 4.80053px rgba(0, 0, 0, 0.0801346);
  background-color: var(--c0);
}

.borda {
  border-radius: 16px;
}

.sec__tit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-family: "Saira", sans-serif;
}

.sec__tit h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 70px;

  color: var(--c3);
}

.sec__tit p {
  font-weight: 300;
  color: var(--c1);
}

@media (max-width: 800px) {
  .btn__pri {
    padding: 10px 16px;
    width: 100%;
  }

  .btn__sec {
    padding: 10px 16px;
    width: 100%;
  }

  .sec__tit {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sec__tit h2 {
    line-height: 100%;
    margin-bottom: 1rem;
  }
}
