/* Margin */

.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: var(--gap1) !important;
}
.m-2 {
  margin: var(--gap2) !important;
}
.m-3 {
  margin: var(--gap3) !important;
}
.m-4 {
  margin: var(--gap4) !important;
}
.m-5 {
  margin: var(--gap5) !important;
}
.m-6 {
  margin: var(--gap6) !important;
}
.m-7 {
  margin: var(--gap7) !important;
}
.m-8 {
  margin: var(--gap8) !important;
}
.m-9 {
  margin: var(--gap9) !important;
}

/* Margin Top */

.mT-0 {
  margin-top: 0 !important;
}
.mT-1 {
  margin-top: var(--gap1) !important;
}
.mT-2 {
  margin-top: var(--gap2) !important;
}
.mT-3 {
  margin-top: var(--gap3) !important;
}
.mT-4 {
  margin-top: var(--gap4) !important;
}
.mT-5 {
  margin-top: var(--gap5) !important;
}
.mT-6 {
  margin-top: var(--gap6) !important;
}
.mT-7 {
  margin-top: var(--gap7) !important;
}
.mT-8 {
  margin-top: var(--gap8) !important;
}
.mT-9 {
  margin-top: var(--gap9) !important;
}

/* Margin Right */

.mR-0 {
  margin-right: 0 !important;
}
.mR-1 {
  margin-right: var(--gap1) !important;
}
.mR-2 {
  margin-right: var(--gap2) !important;
}
.mR-3 {
  margin-right: var(--gap3) !important;
}
.mR-4 {
  margin-right: var(--gap4) !important;
}
.mR-5 {
  margin-right: var(--gap5) !important;
}
.mR-6 {
  margin-right: var(--gap6) !important;
}
.mR-7 {
  margin-right: var(--gap7) !important;
}
.mR-8 {
  margin-right: var(--gap8) !important;
}
.mR-9 {
  margin-right: var(--gap9) !important;
}

/* Margin Bottom */

.mB-0 {
  margin-bottom: 0 !important;
}
.mB-1 {
  margin-bottom: var(--gap1) !important;
}
.mB-2 {
  margin-bottom: var(--gap2) !important;
}
.mB-3 {
  margin-bottom: var(--gap3) !important;
}
.mB-4 {
  margin-bottom: var(--gap4) !important;
}
.mB-5 {
  margin-bottom: var(--gap5) !important;
}
.mB-6 {
  margin-bottom: var(--gap6) !important;
}
.mB-7 {
  margin-bottom: var(--gap7) !important;
}
.mB-8 {
  margin-bottom: var(--gap8) !important;
}
.mB-9 {
  margin-bottom: var(--gap9) !important;
}

/* Margin Left */

.mL-0 {
  margin-left: 0 !important;
}
.mL-1 {
  margin-left: var(--gap1) !important;
}
.mL-2 {
  margin-left: var(--gap2) !important;
}
.mL-3 {
  margin-left: var(--gap3) !important;
}
.mL-4 {
  margin-left: var(--gap4) !important;
}
.mL-5 {
  margin-left: var(--gap5) !important;
}
.mL-6 {
  margin-left: var(--gap6) !important;
}
.mL-7 {
  margin-left: var(--gap7) !important;
}
.mL-8 {
  margin-left: var(--gap8) !important;
}
.mL-9 {
  margin-left: var(--gap9) !important;
}

/* Padding */

.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: var(--gap1) !important;
}
.p-2 {
  padding: var(--gap2) !important;
}
.p-3 {
  padding: var(--gap3) !important;
}
.p-4 {
  padding: var(--gap4) !important;
}
.p-5 {
  padding: var(--gap5) !important;
}
.p-6 {
  padding: var(--gap6) !important;
}
.p-7 {
  padding: var(--gap7) !important;
}
.p-8 {
  padding: var(--gap8) !important;
}
.p-9 {
  padding: var(--gap9) !important;
}

/* Padding Top */

.pT-0 {
  padding-top: 0 !important;
}
.pT-1 {
  padding-top: var(--gap1) !important;
}
.pT-2 {
  padding-top: var(--gap2) !important;
}
.pT-3 {
  padding-top: var(--gap3) !important;
}
.pT-4 {
  padding-top: var(--gap4) !important;
}
.pT-5 {
  padding-top: var(--gap5) !important;
}
.pT-6 {
  padding-top: var(--gap6) !important;
}
.pT-7 {
  padding-top: var(--gap7) !important;
}
.pT-8 {
  padding-top: var(--gap8) !important;
}
.pT-9 {
  padding-top: var(--gap9) !important;
}

/* Padding Right */

.pR-0 {
  padding-right: 0 !important;
}
.pR-1 {
  padding-right: var(--gap1) !important;
}
.pR-2 {
  padding-right: var(--gap2) !important;
}
.pR-3 {
  padding-right: var(--gap3) !important;
}
.pR-4 {
  padding-right: var(--gap4) !important;
}
.pR-5 {
  padding-right: var(--gap5) !important;
}
.pR-6 {
  padding-right: var(--gap6) !important;
}
.pR-7 {
  padding-right: var(--gap7) !important;
}
.pR-8 {
  padding-right: var(--gap8) !important;
}
.pR-9 {
  padding-right: var(--gap9) !important;
}

/* Padding Bottom */

.pB-0 {
  padding-bottom: 0 !important;
}
.pB-1 {
  padding-bottom: var(--gap1) !important;
}
.pB-2 {
  padding-bottom: var(--gap2) !important;
}
.pB-3 {
  padding-bottom: var(--gap3) !important;
}
.pB-4 {
  padding-bottom: var(--gap4) !important;
}
.pB-5 {
  padding-bottom: var(--gap5) !important;
}
.pB-6 {
  padding-bottom: var(--gap6) !important;
}
.pB-7 {
  padding-bottom: var(--gap7) !important;
}
.pB-8 {
  padding-bottom: var(--gap8) !important;
}
.pB-9 {
  padding-bottom: var(--gap9) !important;
}

/* Padding Left */

.pL-0 {
  padding-left: 0 !important;
}
.pL-1 {
  padding-left: var(--gap1) !important;
}
.pL-2 {
  padding-left: var(--gap2) !important;
}
.pL-3 {
  padding-left: var(--gap3) !important;
}
.pL-4 {
  padding-left: var(--gap4) !important;
}
.pL-5 {
  padding-left: var(--gap5) !important;
}
.pL-6 {
  padding-left: var(--gap6) !important;
}
.pL-7 {
  padding-left: var(--gap7) !important;
}
.pL-8 {
  padding-left: var(--gap8) !important;
}
.pL-9 {
  padding-left: var(--gap9) !important;
}
