.port {
  padding: 4rem 100px;
}

.port__itens {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

.port__itens div {
  display: inline-flex;
}
.port__itens div img {
  object-fit: cover;
  border-radius: 64px;
  width: 100%;
}

.port__item1 {
  grid-column: 1 / 4;
  grid-row: 1;
}

.port__item2 {
  grid-column: 4 / 9;
  grid-row: 1 / 1;
}
.port__item3 {
  grid-column: 9 / 13;
  grid-row: 1 / -1;
}
.port__item4 {
  grid-column: 1 / 6;
  grid-row: 2;
}
.port__item5 {
  grid-column: 6 / 9;
  grid-row: 2;
}
