.relative {
  position: relative;
}

.bg__hero {
  position: absolute;
  top: var(--gap7);
  left: 0;

  width: 100%;

  overflow: hidden;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-hero {
  margin: 1px;
}

#quad-hero2 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate 4s ease infinite alternate;
}

#quad-hero1 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate 4s ease infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@media (max-width: 800px) {
  .svg-hero {
    transform: scale(1.8) rotate(30deg);
  }
}

@media (min-width: 1800px) {
  .svg-hero {
    transform: scale(1.5);
  }

  .bg__hero {
    overflow-y: visible !important;
    height: 100%;
    top: var(--gap0);
  }
}

/* Animações da linha */
.bg-heroline1 {
  animation: hero-line 12s ease 2s infinite alternate;
}

.bg-heroline2 {
  animation: hero-line 16s ease 2s infinite alternate;
}

.bg-heroline3 {
  animation: hero-line 25s ease 2s infinite alternate;
}

@keyframes hero-line {
  0% {
    stroke-dasharray: 1 50;
    stroke-dashoffset: 0;
    stroke-width: 1;
    opacity: 1;
  }
  30% {
    stroke-dasharray: 10 30;
    stroke-dashoffset: 5;
    stroke-width: 1;
    opacity: 1;
  }
  60% {
    stroke-dasharray: 10 10;
    stroke-dashoffset: 10;
    stroke-width: 1;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 10 5;
    stroke-dashoffset: 10;
    stroke-width: 1;
    opacity: 1;
  }
}

/* Animações Starfall */
.starfall-hero1 {
  animation: hero-star 3s ease 0s infinite;
}

.starfall-hero2 {
  animation: hero-star 6s ease 0s infinite;
}

.starfall-hero3 {
  animation: hero-star2 6s ease 0s infinite;
}

.starfall-hero4 {
  animation: hero-star2 9s ease 0s infinite;
}

@keyframes hero-star {
  0% {
    opacity: 1;
    width: 0;
    stroke-width: 5;

    x: 500px;
  }
  30% {
    opacity: 1;
    x: 300px;
    stroke-width: 5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hero-star2 {
  0% {
    opacity: 1;
    width: 0;
    x: 900px;
  }
  40% {
    opacity: 1;
    width: 299px;
    x: 700px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
