.relative {
  position: relative;
}

.bg__hero {
  position: absolute;
  top: var(--gap7);
  left: 0;

  width: 100%;

  overflow: hidden;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#quad-hero2 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate 20s ease infinite alternate;
}

#quad-hero1 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate2 20s ease infinite alternate;
}

@media (max-width: 800px) {
  .svg-hero {
    transform: scale(2) rotate(30deg);
  }
  .relative {
    position: relative;
  }

  .bg__hero {
    position: absolute;
    top: 500px;
    left: 0;

    width: 100%;

    /* overflow: hidden; */
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #quad-hero2 {
    transform-origin: center center;
    transform-box: fill-box;
    animation: rotate 20s ease infinite alternate;
  }

  #quad-hero1 {
    transform-origin: center center;
    transform-box: fill-box;
    animation: rotate2 20s ease infinite alternate;
  }
}

@media (min-width: 1800px) {
  .svg-hero {
    transform: scale(1.5);
  }

  .bg__hero {
    overflow-y: visible !important;
    height: 100%;
    top: var(--gap0);
  }
}

/* Animações da linha */
.bg-heroline1 {
  animation: hero-line 12s ease 2s infinite alternate;
}

.bg-heroline2 {
  animation: hero-line 16s ease 2s infinite alternate;
}

.bg-heroline3 {
  animation: hero-line 25s ease 2s infinite alternate;
}

/* Animações Starfall */
.starfall-hero1 {
  animation: hero-star 3s ease 0s infinite;
}

.starfall-hero2 {
  animation: hero-star 6s ease 0s infinite;
}

.starfall-hero3 {
  animation: hero-star2 6s ease 0s infinite;
}

.starfall-hero4 {
  animation: hero-star2 9s ease 0s infinite;
}

#phone-starfall2 {
  animation: hero-star 3s ease 0s infinite;
}

#phone-starfall1 {
  animation: hero-star2 2s ease 1s infinite;
}

/* Animações Celular */

#phone-fundo {
  animation: line 5s ease infinite alternate;
}

#phone-circ {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate2 5s cubic-bezier(0.72, -0.16, 0.23, 1.04) infinite;
}

#phone-retang {
  animation: expandir 2s ease infinite alternate;
}

#phone-grid5 {
  animation: grid-mais 3s ease infinite alternate;
}

#phone-grid4 {
  animation: grid-menos 3s ease infinite alternate;
}

#phone-grid1 {
  animation: grid-mais 3s ease 1s infinite alternate;
}

#phone-grid2 {
  animation: grid-menos 3s ease 1s infinite alternate;
}

/* Animações Code */

#code-fundo {
  animation: line 5s ease infinite alternate;
}

#code-r1 {
  animation: code-r1 0.5s ease;
}

#code-r2 {
  animation: code-r2 0.5s ease 0.5s forwards;
  opacity: 0;
}

#code-r3 {
  animation: code-r3 0.8s ease 1s forwards;
  opacity: 0;
}

#code-r4 {
  animation: code-r4 0.5s ease 1.5s forwards;
  opacity: 0;
}

#code-r5 {
  animation: code-r5 0.5s ease 2s forwards;
  opacity: 0;
}

#code-r6 {
  animation: code-r6 0.5s ease 2.5s forwards;
  opacity: 0;
}

#code-r7 {
  animation: code-r7 0.5s ease 3s forwards;
  opacity: 0;
}

#code-r8 {
  animation: code-r8 0.5s ease 3.5s forwards;
  opacity: 0;
}

#code-r9 {
  animation: code-r9 0.5s ease 4s forwards;
  opacity: 0;
}

#code-r10 {
  animation: code-r10 0.5s ease 4.5s forwards;
  opacity: 0;
}
